<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdj.downapp_market"
    android:versionCode="1"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.WRITE_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
      <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
      <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    
    <!--
         <uses-permission  
        android:name="android.permission.PACKAGE_USAGE_STATS"  tools:ignore="ProtectedPermissions" />
    -->
    <!-- <uses-permission android:name="com.baidu.appsearch.permission.LAUNCH"/> -->
    <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- 在sd卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hdj.downapp_market.activity.MainActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hdj.downapp_market.activity.SetClickUtil" >
        </activity>
        <activity
            android:name="com.hdj.downapp_market.activity.AlertActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity android:name="com.hdj.downapp_market.activity.ChoseMarketActivity"></activity>
        <activity android:name="com.hdj.downapp_market.activity.ChoseDownAppActivity"></activity>

        <receiver android:name="com.hdj.downapp_market.service.HookBroadcast" >
            <intent-filter>
                <action android:name="com.hdjad.openMarket" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.StartBroadcastReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" >
                </data>
            </intent-filter>
        </receiver>

        <service android:name="com.hdj.downapp_market.service.PauseService" >
        </service>

        <!-- test -->
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5748097367e58e33ed002e2d" />
        <!-- 友盟 / -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- 模块描述 -->
        <meta-data
            android:name="xposeddescription"
            android:value="autio_clikc" />

        <!-- 最低版本号 -->

        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>